canvas {
    cursor: default;
    outline: none;
}

body {
    color: #ddd;
    background-color: #021013;
    margin: 0;
}

article {
    background-color: rgba(21, 40, 45, 1);
    max-width: 800px;
    min-height: 685px;
    margin: 0 auto;
}

#embed-html {
    height: 480px;
    background-color: #292c30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: #373585;
    color: white;
    height: auto;
    padding: 0.4em 0.8em;
    font-size: 120%;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#intro {
    padding: 1em;
}
